.footer {
  background-color: fade-out($secondary, 0.1);

  background-image: url('../images/Logo-THA.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8rem;
}
.footer p {
  font-size: 1.2rem;
}
.fb-container {
  float: right;
  margin-top: -100px;
  margin-right: 100px;
}
@media (min-width: 600px) {
  .footer {
    background-size: 16rem;
    font-size: 1.8rem;
  }
}
