.footer {
  background-color: fade-out($secondary, 0.1);
  padding: 0;
  background-image: url('../images/Logo-THA.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 8rem;
}
.footer-sub p {
  font-size: 0.7rem;
  margin: 0;
}
.fb-container {
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .footer {
    background-size: 12rem;
    font-size: 1.8rem;
  }
  .fb-container {
    float: right;
    margin-top: -100px;
    margin-right: 100px;
  }
  .footer-sub p {
    font-size: 1rem;
    margin-left: 1rem;
  }
}
