body {
  @include body-font;

  background: rgb(17, 36, 12);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  color: $primary;
  line-height: 1.75;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 400;
  }
  .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  color: $primary;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    color: $primary;
  }
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}
.blue {
  color: white;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
}

.facility {
  color: white;
  display: block;
  font-size: 3rem;
  font-weight: 100;
  text-decoration: underline;
}
.facility-img {
  float: right;
  margin-left: 20px;
  width: 30%;
}
